@model IEnumerable<LancheMVC_Aplication.DTOs.LancheDTO>
@*@model LancheMVC_Aplication.DTOs.AllDTo*@

<div>
    <h2>Todos os Lanches</h2>
</div>
<h1>@ViewData["data"]</h1>
<hr />
 <h1>NUmeto total de lanches é @ViewBag.totalLanches</h1>
<hr />

@foreach(var lanche in Model)
{
    <div>
        <h4>@lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl"></p>
        <h3>Preço : @lanche.Preco.ToString("c")</h3>
    </div>
}