@model ReflectionIT.Mvc.Paging.PagingList<LancheDTO>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form method="get" class=" row">
    <div class="col-2">
    <input name="filter" class="form-control " placeholder="filtro"
           value="@Model.RouteValue["Filter"]" />

    <button type="submit" class="btn btn-info mt-1">Procurar</button>
    </div>
</form>

Total de Pedidos : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>




<p>
    <a class="btn btn-success" href="#" id="CriarLanche">criar novo lanche </a>
</p>
<table class="table  table-hover" id="TAbleSLanche">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCurta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoDetalhada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                
                 @Html.DisplayNameFor(model => model.ImagemUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagemThumbnailUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLanchePreferido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescricaoCurta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescricaoDetalhada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    <img src="@item.ImagemUrl" class="img-fluid">             @*   @Html.DisplayFor(modelItem => item.ImagemUrl)*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagemThumbnailUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLanchePreferido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmEstoque)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.CategoryName)
                </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                    <a  id="ideditre" class="btn btn-dark EditBottao" data-nome="@item" href="#" >
                        <input name="MODALEWPOET" data-nome="@item.Id" type="hidden" value="@item" /> Edit
                    </a>


                    @*  <a asp-action="Edit" id="ideditre" asp-route-id="@item">Edit</a> |*@
                    <a asp-action="Details" class="btn btn-info"  asp-route-id="@item.Id">Details</a> 
                 @*   <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    <a id="danger-alert" class="btn btn-danger deletar" data-link=" @Url.Action("Delete", "AdminLanches", new {id = @item.Id}) "><i class="zmdi zmdi-delete zmdi-hc-lg"></i> deletar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade " id="modalGeneric" role="dialog" ">

</div>



<script>
    $('#TAbleSLanche').DataTable();

    $(function () {    

        $('#CriarLanche').on('click', function (e) {
        
           
            var url = '@Url.Action("Create", "AdminLanches" )'


            $.ajax({
                url: url,
                type: "GET",
                dataType: "html",
                success: function (data) {
                    console.log(data);
                    $('#modalGeneric').html(data);
                    $('#modalGeneric').modal('show');
                }

              });//final do ajax

         });// final do click jquery

     })

    $(function () {

        $('.deletar').on('click', function (e) {

            var gf = $(this).closest('td').find('a[data-link]').data('link');
            console.log("tests " + gf )
            Swal.fire({
                title: 'Deletar o produto?',
                icon: 'warning',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Deletar',
                denyButtonText: `Nao Deletar`,
            }).then((result) => {

                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    Swal.fire('Saved!', '', 'success')

                    $.post(  gf  , function (response) {
                        alert("success");
                      
                    });


                    window.location.href = $('#danger-alert').attr("data-link");
                    console.log('Eviado')
                }




            })

         })


       })


    
   


    var urlf = "@Url.Action("_Edit", "AdminLanches",   new { id = 134  })"
    console.log(urlf)

    $(function () {

        $('.EditBottao').on('click', function (e) {
            

            var idk = $(this).closest('a').find('input[data-nome]').data('nome');
            var url = '@Url.Action("_Edit", "AdminLanches" )' + '?id=' + idk
           

            $.ajax({
                url: url,
                type: "GET",
                dataType: "html",
                success: function (data) {
                    console.log(data);
                    $('#modalGeneric').html(data);
                    $('#modalGeneric').modal('show');
                }
            })
        

        })

    





    })






</script>

   

  
   



